@charset "UTF-8";
/* Normalize ================================================================*/
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:regular,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* END Normalize ============================================================*/
/* Fonts ====================================================================*/
/* END Fonts ================================================================*/
/* Common Styles ============================================================*/
:root {
  --font-size-normal: 20px;
  --color-bg-dark: #000000;
  --color-bg-dark-05: rgba(0, 0, 0, 0.5);
  --color-gold: #bdae82;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-normal);
  color: var(--color-white);
  background-color: var(--color-bg-dark);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1439.98px) {
  .wrapper {
    width: 1260px;
  }
}

@media (max-width: 1279.98px) {
  .wrapper {
    width: 768px;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    width: 320px;
  }
}

.container {
  padding: 0 20px;
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 10px;
  }
}

.link {
  color: var(--color-white);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-gold);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 55px;
  font-size: 1rem;
  color: var(--color-gold);
  background-color: var(--color-bg-dark);
  border: 2px solid var(--color-gold);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.button--gold {
  color: var(--color-bg-dark);
  background-color: var(--color-gold);
}

.button:hover {
  color: var(--color-white);
}

.section {
  padding: 100px 0 0 0;
}

@media (max-width: 767.98px) {
  .section {
    padding: 50px 0 0 0;
  }
}

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
}

.section-title span {
  position: relative;
  z-index: 5;
  padding: 0 20px;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  line-height: 2em;
  font-weight: 700;
  color: var(--color-gold);
  background-color: var(--color-bg-dark);
}

@media (max-width: 1279.98px) {
  .section-title span {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media (max-width: 767.98px) {
  .section-title span {
    font-size: 1rem;
  }
}

.section-title::before {
  content: "";
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: var(--color-gold);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 767.98px) {
  .section-title::before {
    left: 15%;
    width: 70%;
  }
}

/* END Common Styles ========================================================*/
.header {
  position: relative;
  z-index: 10;
}

.header__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

@media (max-width: 1279.98px) {
  .header__flex-container {
    padding: 0 40px;
  }
}

@media (max-width: 767.98px) {
  .header__flex-container {
    padding: 0;
  }
}

.header__logo {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  height: 50px;
  background: url("../img/ico/logo.svg") no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover {
  -webkit-filter: invert(21%) sepia(10%) saturate(1031%) hue-rotate(7deg) brightness(89%) contrast(85%);
          filter: invert(21%) sepia(10%) saturate(1031%) hue-rotate(7deg) brightness(89%) contrast(85%);
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__lang-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 71px;
          flex: 0 0 71px;
}

.header__lang-form span {
  padding: 0 4px;
}

@media (max-width: 1279.98px) {
  .header__lang-form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0 21px 0 0;
    font-size: 1rem;
    text-align: right;
  }
  .header__lang-form span {
    padding: 0 14px 0 4px;
  }
}

.header__radio {
  display: none;
}

.header__radio + label {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__radio:not(:disabled):not(:checked) + label:hover {
  color: var(--color-gold);
}

.header__radio:checked + label {
  color: var(--color-gold);
}

.header__burger {
  display: none;
}

@media (max-width: 1279.98px) {
  .header__burger {
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin: 0 4px 0 0;
    cursor: pointer;
  }
  .header__burger:before, .header__burger:after,
  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-white);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}

.menu-header {
  padding: 0 31px;
}

@media (max-width: 1279.98px) {
  .menu-header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: auto;
  }
  .menu-header._active {
    right: 0;
  }
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279.98px) {
  .menu-header__list {
    display: block;
    width: 81%;
    height: 120%;
    padding: 134px 0 0 127px;
    background-color: #000000;
  }
}

.menu-header__item {
  margin: 0 0 0 30px;
}

@media (max-width: 1279.98px) {
  .menu-header__item {
    margin: 0 0 16px 0;
  }
}

@media (max-width: 1279.98px) {
  .menu-header__link {
    font-size: 35px;
    line-height: 73px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__hero {
  margin-top: -90px;
}

.hero {
  height: 910px;
  padding: 250px 0 0 80px;
  background: url("../img/01-hero/background.jpg") 0 0 no-repeat;
}

@media (max-width: 1279.98px) {
  .hero {
    height: 590px;
    padding: 168px 0 0 60px;
    background: url("../img/01-hero/background-small.jpg") 0 0 no-repeat;
  }
}

@media (max-width: 767.98px) {
  .hero {
    background-position: -310px 0;
  }
}

.hero__content {
  width: 490px;
}

@media (max-width: 1279.98px) {
  .hero__content {
    width: 405px;
  }
}

@media (max-width: 767.98px) {
  .hero__content {
    width: 250px;
  }
}

.hero__name {
  margin: 0 0 10px 0;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  line-height: 2em;
  font-weight: 700;
}

@media (max-width: 1279.98px) {
  .hero__name {
    margin: 0 0 20px 0;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

@media (max-width: 767.98px) {
  .hero__name {
    font-size: 1.4rem;
  }
}

.hero__text {
  margin: 0 0 25px 0;
  line-height: 2em;
}

@media (max-width: 1279.98px) {
  .hero__text {
    margin: 0 0 58px 0;
    font-size: 1rem;
    line-height: 24.2px;
    letter-spacing: 0;
  }
}

@media (max-width: 767.98px) {
  .hero__text {
    font-size: 0.8rem;
  }
}

@media (max-width: 1279.98px) {
  .skills__title {
    margin: 0 0 56px 0;
  }
}

.skills__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1439.98px) {
  .skills__flex-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 1279.98px) {
  .skills__flex-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 9px 40px 40px;
    gap: 36px;
  }
}

@media (max-width: 767.98px) {
  .skills__flex-container {
    padding: 0;
  }
}

.skills__flex-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}

@media (max-width: 1439.98px) {
  .skills__flex-item {
    margin: 0 50px;
  }
}

@media (max-width: 1279.98px) {
  .skills__flex-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .skills__flex-item {
    -webkit-box-flex: 250px;
        -ms-flex: 250px;
            flex: 250px;
  }
}

.skills__card {
  text-align: center;
}

.card-skill__image {
  height: 50px;
  margin: 0 0 50px 0;
}

@media (max-width: 1279.98px) {
  .card-skill__image {
    margin: 0 0 30px 0;
  }
}

.card-skill__icon {
  height: 50px;
}

.card-skill__subtitle {
  margin: 0 0 20px 0;
  font-weight: 700;
  line-height: 2em;
}

.card-skill__info {
  padding: 0 18px 10px;
  font-size: 0.9rem;
  line-height: 2em;
  letter-spacing: 0.3px;
}

@media (max-width: 1279.98px) {
  .card-skill__info {
    padding: 0 5px 40px;
    line-height: 22px;
  }
}

@media (max-width: 1279.98px) {
  .portfolio__title {
    margin: 0 0 56px 0;
  }
}

.portfolio__seasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin: 0 0 60px 0;
}

@media (max-width: 1279.98px) {
  .portfolio__seasons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 14px 40px 0;
  }
}

.gallery-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

@media (max-width: 1439.98px) {
  .gallery-portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .gallery-portfolio {
    gap: 10px;
  }
}

.gallery-portfolio__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
}

@media (max-width: 767.98px) {
  .gallery-portfolio__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }
}

.gallery-portfolio__image {
  width: 100%;
}

@media (max-width: 1279.98px) {
  .video__title {
    margin: 0 0 70px;
  }
}

.video__player {
  position: relative;
  width: 100%;
  height: 705px;
  background: url("../img/04-video/video-player-bg.jpg") 0 0/100% auto no-repeat;
}

@media (max-width: 1439.98px) {
  .video__player {
    height: 610px;
  }
}

@media (max-width: 1279.98px) {
  .video__player {
    width: 768px;
    height: 418px;
    margin: 0 -20px;
    background: url("../img/04-video/video-player-bg-small.jpg") 0 0/100% auto no-repeat;
  }
}

@media (max-width: 767.98px) {
  .video__player {
    width: 320px;
    height: 160px;
    margin: 0 -10px;
  }
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 130px;
  background: url("../img/04-video/play-button.svg") 0 0/100% no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1279.98px) {
  .video__play-button {
    width: 65px;
    height: 65px;
  }
}

.video__play-button:hover {
  -webkit-filter: invert(21%) sepia(10%) saturate(1031%) hue-rotate(7deg) brightness(89%) contrast(85%);
          filter: invert(21%) sepia(10%) saturate(1031%) hue-rotate(7deg) brightness(89%) contrast(85%);
}

@media (max-width: 1279.98px) {
  .price__title {
    margin: 0 0 70px 0;
  }
}

.price__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
  padding: 0 0 100px 0;
}

@media (max-width: 1279.98px) {
  .price__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    padding: 0 0 80px 0;
  }
}

@media (max-width: 767.98px) {
  .price__flex-container {
    gap: 25px;
  }
}

.price__flex-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
}

@media (max-width: 1439.98px) {
  .price__flex-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}

@media (max-width: 1279.98px) {
  .price__flex-item {
    width: 420px;
  }
}

@media (max-width: 767.98px) {
  .price__flex-item {
    width: 300px;
  }
}

.price__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 41px 0 40px;
  border: 3px solid var(--color-gold);
}

.price__subtitle {
  margin: 0 0 20px 0;
  font-family: "Merriweather", serif;
  font-size: 1.4rem;
  line-height: 2em;
  font-weight: 700;
}

.price__value {
  margin: 0 0 20px 0;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  line-height: 2em;
  font-weight: 700;
  color: var(--color-gold);
}

.price__info {
  margin: 0 0 39px 0;
  font-size: 0.9rem;
  line-height: 2em;
  letter-spacing: 0.3px;
  text-align: center;
}

@media (max-width: 1279.98px) {
  .price__info {
    margin: 0 0 39px 0;
  }
}

.contacts__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 700px;
  background: url("../img/06-contacts/contacts-background.jpg") 0 0 no-repeat;
}

@media (max-width: 1279.98px) {
  .contacts__flex-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 600px;
    background: url("../img/06-contacts/contacts-background-small.jpg") 0 0 no-repeat;
  }
}

.contacts__flex-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
  margin: 60px 20px 0 0;
}

@media (max-width: 1279.98px) {
  .contacts__flex-item {
    margin: 60px 0 0 0;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .contacts__flex-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }
}

.contacts__title {
  margin: 0 0 40px 0;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2em;
  color: var(--color-gold);
}

@media (max-width: 1279.98px) {
  .contacts__title {
    font-size: 1.6rem;
  }
}

@media (max-width: 1279.98px) {
  .form-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-contacts__data, .form-contacts__message {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 0 20px 0;
  padding: 0 0 0 18px;
  font-size: 1rem;
  line-height: 2em;
  color: var(--color-gold);
  background-color: var(--color-bg-dark-05);
  border: 2px solid var(--color-gold);
}

.form-contacts__data::-webkit-input-placeholder, .form-contacts__message::-webkit-input-placeholder {
  color: var(--color-gold);
}

.form-contacts__data:-ms-input-placeholder, .form-contacts__message:-ms-input-placeholder {
  color: var(--color-gold);
}

.form-contacts__data::-ms-input-placeholder, .form-contacts__message::-ms-input-placeholder {
  color: var(--color-gold);
}

.form-contacts__data::placeholder, .form-contacts__message::placeholder {
  color: var(--color-gold);
}

.form-contacts__message {
  height: 100px;
  margin: 0 0 30px 0;
  padding: 3px 0 0 18px;
  resize: none;
}

.footer__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

@media (max-width: 1279.98px) {
  .footer__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 190px;
    padding: 30px 0 25px;
  }
}

.footer__copyright {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
}

@media (max-width: 1279.98px) {
  .footer__copyright {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.footer__copyright span {
  margin: 0 10px 0 20px;
}

.footer__my-git {
  color: var(--color-white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__my-git:hover {
  color: var(--color-gold);
}

.footer__rss {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
  text-align: center;
}

@media (max-width: 1279.98px) {
  .footer__rss {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.footer__rss-link {
  color: var(--color-white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__rss-link:hover {
  color: var(--color-gold);
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
}

@media (max-width: 1279.98px) {
  .footer__social-media {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.footer__icon {
  width: 32px;
  height: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__icon:hover {
  -webkit-filter: invert(21%) sepia(10%) saturate(1031%) hue-rotate(7deg) brightness(89%) contrast(85%);
          filter: invert(21%) sepia(10%) saturate(1031%) hue-rotate(7deg) brightness(89%) contrast(85%);
}
