/* Normalize ================================================================*/
@import "_nullstyle";
/* END Normalize ============================================================*/

/* Fonts ====================================================================*/
@import "_fonts";
/* END Fonts ================================================================*/

/* Common Styles ============================================================*/
:root {
  --font-size-normal: 20px;
  --color-bg-dark: #000000;
  --color-bg-dark-05: rgba(0, 0, 0, 0.5);
  --color-gold: #bdae82;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-normal);
  color: var(--color-white);
  background-color: var(--color-bg-dark);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 1439.98px) {
    width: 1260px;
  }

  @media (max-width: 1279.98px) {
    width: 768px;
  }

  @media (max-width: 767.98px) {
    width: 320px;
  }
}

.container {
  padding: 0 20px;

  @media (max-width: 767.98px) {
    padding: 0 10px;
  }
}

.link {
  color: var(--color-white);
  transition: color 0.3s;

  &:hover {
    color: var(--color-gold);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 55px;
  font-size: 1rem;
  color: var(--color-gold);
  background-color: var(--color-bg-dark);
  border: 2px solid var(--color-gold);
  transition: color 0.3s;

  &--gold {
    color: var(--color-bg-dark);
    background-color: var(--color-gold);
  }

  &:hover {
    color: var(--color-white);
  }
}

.section {
  padding: 100px 0 0 0;

  @media (max-width: 767.98px) {
    padding: 50px 0 0 0;
  }
}

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;

  & span {
    position: relative;
    z-index: 5;
    padding: 0 20px;
    font-family: "Merriweather", serif;
    font-size: 2rem;
    line-height: 2em;
    font-weight: 700;
    color: var(--color-gold);
    background-color: var(--color-bg-dark);

    @media (max-width: 1279.98px) {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    @media (max-width: 767.98px) {
      font-size: 1rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: var(--color-gold);
    transform: translate(0, -50%);

    @media (max-width: 767.98px) {
      left: 15%;
      width: 70%;
    }
  }
}

/* END Common Styles ========================================================*/

@import "_header";

.main {
  flex: 1 1 auto;
}

.main__hero {
  margin-top: -90px;
}

@import "_hero";

.main__skills {
}

@import "_skills";

.main__portfolio {
}

@import "_portfolio";

.main__video {
}

@import "_video";

.main__price {
}

@import "_price";

.main__contacts {
}

@import "_contacts";

.footer {
}

@import "_footer";
